{% extends "layout.html" %}
{% block content %}

<div class="body-content">
    <div class="row">
        <h1>Upload Words</h1>
        {% if current_user and current_user.is_authenticated %}
        <p><a href="{{ url_for('user.members') }}">Logged in as {{ current_user.username }}</a></p>
        <ul class="nav nav-tabs" id="upload-types">
            <li class="active"><a href="#typing" data-toggle="tab">Typing</a>
            </li>
            <li><a href="#file" data-toggle="tab">File</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="typing" class="tab-pane fade in active">
                <input class="word" id="group" placeholder="word group" value="">
                <input class="word" id="key" placeholder="key" value=""> <input class="word" id="value"
                                                                                placeholder="value" value="">
                <button id="addRow">Add new word</button>
                <button id="submit">submit</button>
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>idx</th>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div id="file" class="tab-pane fade">
                <h1>Upload Word by File</h1>
                <h2>csv, tsv format is allowed</h2>
                <form id="file" class="form-inline" method="POST" enctype="multipart/form-data" name="file">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control"><button id="upload" type="submit" class="btn btn-default">upload</button>
                    </div>
                </form>
            </div>
        </div>
        {% elif form %}
        <h2>This need <a href="{{ url_for('public.login') }}">login</a> or <a href="{{ url_for('public.register') }}">resgister</a>
        </h2>
        {% endif %}
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var t = $('#example').DataTable();
    var counter = 1;
    $('#addRow').on( 'click', function () {
        t.row.add( [
        counter,$(".word#key").val(), $(".word#value").val()
    ] ).draw( false );
    counter++;
    });


    $('#submit').on( 'click', function() {
        var words = [];
        var group = $(".word#group").val()
        t.data().each( function(d){
           words.push({group: group, idx:d[0],word:d[1],mean:d[2]});
        });
        console.log(words);
        $.ajax({
            url:'/uploads/word',
            data : {words : JSON.stringify(words) },
            dataType : 'json',
            method : 'post',
            success : function(){
                            alert("upload complete");
                        }
                        }
        );
   });

   $("form#file").submit(function(){

    var formData = new FormData($(this)[0]);

    $.ajax({
        url: window.location.pathname + 'word',
        type: 'POST',
        data: formData,
        async: false,
        success: function (data) {
            if (data =='Success'){
                $('button#upload').attr('class','btn btn-success');
                $('button#upload').text('Success');
            }else{
                $('button#upload').attr('class','btn btn-danger');
                $('button#upload').text('Fail');
            }
        },
        error :function (data){
            $('button#upload').attr('class','btn btn-danger');
                $('button#upload').text('Fail');
        },
        cache: false,
        contentType: false,
        processData: false
    });

    return false;
});

});


</script>

{% endblock %}
