{% extends "layout.html" %}
{% block css %}
<style>
    #text-block .flicker_text{
    color: black;
    text-align: center;
    font-size : 8vh;
    height: 200px;
    }
</style>
<link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.css">

<!-- Include js plugin -->

{% endblock %}

{% block content %}

<div id="text-block">
    <div id="owl-example" class="owl-carousel">
        {% for word in words %}
        <div class="flicker_text" data-index="{{ word.index }}" data-group="{{ word.group }}"
             data-word="{{ word.word }}" data-mean="{{ word.mean }}" data-state="word">
        </div>
        {% endfor %}
    </div>
</div>
<div id="home" style="text-align:center;">
    <div>
        <a href="{{ url_for('memorizer.main') }}">home</a>
    </div>
    <button class="btn btn-default flicker" id="on">Flicker Off</button>
    <button class="btn btn-default auto-pagination" id="on">Auto Pagination Off</button>
</div>


{% endblock %}


{% block js %}
<script src="/static/js/owl-carousel/owl.carousel.js"></script>
<script>

    var autoPlayPeriod = 5000;
    var flickerPeriod = 1000;
    var filckerInterval;
    $(document).ready(function() {
    $("#owl-example").owlCarousel({
           singleItem : true,
           <!--autoHeight : true,-->
           pagination : false,
           navigation : true,
           autoPlay : autoPlayPeriod

    });
    filckerInterval =  setInterval(function() {
            $(".flicker_text").each(function(index){
                $(this).fadeIn("slow", function(){
                    if ( $(this).attr('data-state') == "word"){
                        $(this).text($(this).attr("data-mean"));
                        $(this).attr('data-state','mean');
                    }
                    else{
                        $(this).text($(this).attr("data-word"));
                        $(this).attr('data-state','word');
                    }
                $(".flickr").fadeOut("slow");
            });
            });
     }, flickerPeriod);

     $(".flicker_text").click(function(){
     if($(this).attr('data-send') == 'send') return ''
        $(this).css('background-color','rgba(255,0,0,0.4)');
        $(this).attr('data-send','send');
        var request = $.ajax({
              url: "{{ url_for('memorizer.word') }}",
              type: "POST",
              data: { group : $(this).attr('data-group'),
                       index : $(this).attr('data-index')
                    },
              dataType: "json"
            });

     });

      $('.flicker').on( 'click', function () {
        if($(this).attr('id') == 'on'){
            clearInterval(filckerInterval);
            $(this).text('Filcker On');
            $(this).attr('id','off');
            }
         else{
            filckerInterval = setInterval(function() {
                                    $(".flicker_text").each(function(index){
                                        $(this).fadeIn("slow", function(){
                                            if ( $(this).attr('data-state') == "word"){
                                                $(this).text($(this).attr("data-mean"));
                                                $(this).attr('data-state','mean');
                                            }
                                            else{
                                                $(this).text($(this).attr("data-word"));
                                                $(this).attr('data-state','word');
                                            }
                                        $(".flickr").fadeOut("slow");
                                    });
                                    });
                             }, flickerPeriod);
                                    $(this).text('Filcker Off');
                                    $(this).attr('id','on');
                                    }
        });

        $('.auto-pagination').on('click', function () {
        var owl = $(".owl-carousel").data('owlCarousel');
            if( $(this).attr('id') == 'on'){
                owl.stop();
                 $(this).attr('id','off');
                 $(this).text("Auto Pagination On");
            }
            else{
                owl.play();
                $(this).attr('id','on');
                $(this).text("Auto Pagination Off");
            }
        });


});





</script>
{% endblock %}